h1 {
    color: aqua;
}

.yellow{
    background-color: yellow;
    height: 45px;
}
.blue{
    background-color: blue;
    height: 45px;
}
.red{
    background-color: red;
    height: 45px;
}
.green{
    background-color: green;
    height: 45px;
}
.grey{
    background-color: grey;
    height: 45px;
}